@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --header-bg: hsl(0, 0%, 0%);
  --header-color: hsl(0, 0%, 100%);
  --header-shadow: 0 0 1em 0 hsla(0, 0%, 0%, 0.26);
  --footer-bg: hsla(0, 0%, 0%, 0.5);
  --footer-color: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}
body > * {
  padding: 1rem;
}
header {
  background: var(--header-bg);
  box-shadow: var(--header-shadow);
}
header h1 {
  margin: 0;
  color: var(--header-color);
  font-weight: 400;
}
footer {
  background: var(--footer-bg);
  color: var(--footer-color);
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  border-radius: 0.5em 0.5em 0 0;
}
