@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}
body > * {
  padding: 1rem;
}
h1 {
  margin: 0;
}
footer {
  text-align: center;
  font-size: 1.2rem;
}
